<div class="container">
  <h1>Plans</h1>

  <div ng-controller="plansController">
    <div class="well">
      <h3>Add a new plan</h3>
      <form ng-submit="addPlan()">
        <div class="row">
          <br />
          <div class="col-xs-3">
            <span>Plan Name</span>
          </div>
          <div class="col-xs-3">
            <input type="text" ng-model="newPlan.name" class="form-control" placeholder="Plan Name" />
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-xs-3">
            <span>Plan Description</span>
          </div>
          <div class="col-xs-3">
            <input type="text" ng-model="newPlan.description" class="form-control" placeholder="Plan Description" />
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-xs-3">
            <span>Price in $</span>
          </div>
          <div class="col-xs-3">
            <input type="text" ng-model="newPlan.price" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control" placeholder="Price in $" />
          </div>
        </div>
        <br />
        <h4>Plan Features</h4>
        <div class="row">
          <br />
          <div class="col-xs-3">
            <span>SMS Limit</span>
          </div>
          <div class="col-xs-3">
            <input type="number" ng-model="planFeature.sms" class="form-control" placeholder="SMS Limit" />
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-xs-3">
            <span>Email Limit</span>
          </div>
          <div class="col-xs-3">
            <input type="text" ng-model="planFeature.email" class="form-control" placeholder="Email Limit" />
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-xs-3">
            <span>Post Limit</span>
          </div>
          <div class="col-xs-3">
            <input type="text" ng-model="planFeature.post" class="form-control" placeholder="Post Limit" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-center">
            <br />
            <input type="Submit" value="Add Plan" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
  	<h3>Current Plans</h3>
    <hr />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Plan Name</th>
          <th>Plan Description</th>
          <th>Price (in $)</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!plans.length">
          <td colspan="4">No Plans Yet!.</td>
        </tr>
        <tr ng-repeat="plan in plans">
          <td>{{ plan.name }}</td>
          <td>{{ plan.description }}</td>
          <td>{{ plan.price }}</td>
          <td><a class="btn btn-danger" ng-click="deleteVisitor($index)">Remove</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
